body {
    color:		#000000;
    background-color:	#ffffff;
}

p.header {
    text-align:		center;
}

a:link {
    color:		#0000ff;
}

a:visited {
    color:		#990066;
}

img.banner {
    text-align:		right;
    border-style:	none;
    float:		right;
}

em.colored {
    color:		#ff0000;
}

h1 {
    text-align:		center;
}
